---
const tweetId = "1881547272556777647";
---

<div class="tweet-container">
  <blockquote 
    class="twitter-tweet" 
    data-dnt="true"
    data-theme="light"
    data-align="center"
  >
    <a href={`https://twitter.com/elonmusk/status/${tweetId}`}></a>
  </blockquote>
</div>

<style>
  .tweet-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 550px; /* Twitter's default width */
    margin: 2rem auto;
  }

  .tweet-container :global(.twitter-tweet) {
    margin: 0 !important;
    width: 100% !important;
  }
</style>

<script async src="https://platform.twitter.com/widgets.js"></script>